 
.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #27272D;
  }
  .navbar {
    width: 100%;
    display: flex;
    position: relative;
    max-width: 1440px;
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .logo {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .desktop-menu {
    display: flex;
  }
  .nav {
    gap: var(--dl-space-space-twounits);
    flex: 0 0 auto;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .button {
    color: rgb(255, 255, 255);
  }
  .button1 {
    color: rgb(255, 255, 255);
  }
  .button2 {
    color: rgb(255, 255, 255);
  }
  .button3 {
    color: rgb(255, 255, 255);
  }
  .btn-group {
    gap: var(--dl-space-space-fourunits);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .socials {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .image {
    width: 100px;
    object-fit: cover;
  }
  .image01 {
    width: 100px;
    object-fit: cover;
  }
  .burger-menu {
    display: none;
    align-items: center;
    justify-content: center;
  }
  .icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .nav1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .container1 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .logo1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon02 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .nav2 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .text01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .text02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .text03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .text04 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .container2 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
  }
  .login {
    margin-right: var(--dl-space-space-twounits);
  }
  .icon-group {
    display: flex;
  }
  .icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .hero {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
   max-width: 1440px;
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .heading {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .header {
    color: rgb(255, 255, 255);
    font-size: 90px;
    max-width: 900px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 108px;
  }
  .caption {
    color: rgb(255, 255, 255);
    font-size: 24px;
    max-width: 800px;
    text-align: center;
    line-height: 36px;
  }
  .buttons {
    gap: var(--dl-space-space-threeunits);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .learn {
    color: rgb(255, 255, 255);
  }
  .description {
    gap: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .divider-image {
    width: 100%;
    object-fit: cover;
  }
  .container3 {
    width: 100%;
    display: flex;
    max-width: 1440px;
    align-items: flex-end;
    flex-direction: column;
  }
  .description1 {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    max-width: 900px;
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .content {
    gap: var(--dl-space-space-threeunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .paragraph {
    color: rgb(255, 255, 255);
    font-size: 40px;
    line-height: 60px;
  }
  .links {
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  .cards {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    max-width: 1440px;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: 120px;
  }
  .row {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .card {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    background-color: #000000;
  }
  .avatar {
    width: 60px;
    height: 60px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    background-color: #FDEA6B;
  }
  .avatar1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .content01 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    max-width: 460px;
    align-items: flex-start;
   flex-direction: column;
  }
  .header1 {
    color: rgb(255, 255, 255);
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
  }
  .description2 {
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    font-size: 18px;
    max-width: 400px;
    line-height: 27px;
  }
  .learn1 {
    gap: var(--dl-space-space-unit);
    color: white;
    display: flex;
    padding: 0px;
    box-shadow: none;
    align-items: center;
    padding-top: 0px;
    border-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    padding-bottom: 0px;
    background-color: transparent;
  }
  .text05 {
    font-style: normal;
    font-weight: 500;
  }
  .image02 {
    width: 16px;
    object-fit: cover;
  }
  .card01 {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    background-color: #FFCF77;
  }
  .avatar2 {
    width: 60px;
    height: 60px;
    display: flex;
    overflow: hidden;
align-items: center;
border-radius: var(--dl-radius-radius-round);
flex-direction: column;
justify-content: center;
background-color: #EC7495;
}
.avatar3 {
width: 28px;
object-fit: cover;
}
.main1 {
gap: var(--dl-space-space-threeunits);
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: column;
}
.content02 {
gap: var(--dl-space-space-unit);
width: 100%;
display: flex;
max-width: 460px;
align-items: flex-start;
flex-direction: column;
}
.header2 {
color: rgb(0, 0, 0);
font-size: 52px;
font-style: normal;
font-weight: 500;
}
.description3 {
color: rgb(0, 0, 0);
width: 100%;
font-size: 18px;
max-width: 400px;
line-height: 27px;
}
.learn2 {
gap: var(--dl-space-space-unit);
color: #000000;
display: flex;
padding: 0px;
box-shadow: none;
align-items: center;
padding-top: 0px;
border-width: 0px;
padding-left: 0px;
padding-right: 0px;
flex-direction: row;
padding-bottom: 0px;
background-color: transparent;
}
.text06 {
font-style: normal;
font-weight: 500;
}
.image03 {
width: 16px;
object-fit: cover;
}
.card02 {
gap: var(--dl-space-space-twounits);
width: 100%;
display: flex;
align-items: flex-start;
padding-top: var(--dl-space-space-sixunits);
padding-left: var(--dl-space-space-fourunits);
padding-right: var(--dl-space-space-fiveunits);
flex-direction: column;
padding-bottom: var(--dl-space-space-fourunits);
background-color: #8FA7DF;
}
.avatar4 {
width: 60px;
height: 60px;
display: flex;
overflow: hidden;
align-items: center;
border-radius: var(--dl-radius-radius-round);
flex-direction: column;
justify-content: center;
background-color: #000000;
}
.avatar5 {
width: 22px;
object-fit: cover;
}
.row1 {
gap: var(--dl-space-space-fourunits);
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: row;
justify-content: center;
}
.main2 {
gap: var(--dl-space-space-threeunits);
width: 100%;
display: flex;
max-width: 460px;
align-items: flex-start;
flex-direction: column;
}
.content03 {
gap: var(--dl-space-space-unit);
width: 100%;
display: flex;
max-width: 460px;
align-items: flex-start;
flex-direction: column;
}
.header3 {
color: rgb(0, 0, 0);
font-size: 52px;
font-style: normal;
font-weight: 500;
}
.description4 {
color: #000000;
width: 100%;
font-size: 18px;
max-width: 400px;
line-height: 27px;
}
.learn3 {
gap: var(--dl-space-space-unit);
color: #000000;
display: flex;
padding: 0px;
box-shadow: none;
align-items: center;
padding-top: 0px;
border-width: 0px;
padding-left: 0px;
padding-right: 0px;
flex-direction: row;
padding-bottom: 0px;
background-color: transparent;
}
.text07 {
font-style: normal;
font-weight: 500;
}
.image04 {
width: 16px;
object-fit: cover;
}
.image05 {
width: 100%;
object-fit: cover;
}
.collection {
gap: var(--dl-space-space-fiveunits);
width: 100%;
display: flex;
max-width: 1440px;
align-items: flex-start;
padding-left: var(--dl-space-space-fiveunits);
padding-right: var(--dl-space-space-fiveunits);
flex-direction: column;
padding-bottom: 160px;
}
.content04 {
gap: var(--dl-space-space-threeunits);
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: column;
}
.caption01 {
color: #FFCF77;
font-style: normal;
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
}
.heading1 {
gap: var(--dl-space-space-twounits);
width: 100%;
display: flex;
max-width: 640px;
align-items: flex-start;
flex-direction: column;
}
.header4 {
color: rgb(255, 255, 255);
width: 1135px;
font-size: 72px;
font-style: normal;
font-weight: 500;
letter-spacing: 1px;
}
.header5 {
color: rgb(255, 255, 255);
width: 1149px;
font-size: 18px;
line-height: 27px;
}
.main3 {
gap: var(--dl-space-space-twounits);
width: 100%;
display: grid;
align-items: flex-start;
flex-direction: column;
grid-template-columns: repeat(4, 1fr);
}
.card03 {
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: column;
background-color: #ffffff;
}
.image06 {
width: 100%;
display: flex;
overflow: hidden;
align-items: center;
padding-left: var(--dl-space-space-oneandhalfunits);
padding-right: var(--dl-space-space-oneandhalfunits);
flex-direction: column;
justify-content: center;
background-color: #FDEA6B;
}
.image07 {
object-fit: cover;
}
.content05 {
gap: var(--dl-space-space-halfunit);
width: 100%;
display: flex;
padding: var(--dl-space-space-oneandhalfunits);
align-items: flex-start;
flex-direction: column;
}
.caption02 {
font-style: normal;
font-weight: 600;
}
.title {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.card04 {
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: column;
background-color: #ffffff;
}
.image08 {
width: 100%;
display: flex;
overflow: hidden;
align-items: center;
padding-left: var(--dl-space-space-oneandhalfunits);
padding-right: var(--dl-space-space-oneandhalfunits);
flex-direction: column;
justify-content: center;
background-color: #FFCF77;
}
.image09 {
object-fit: cover;
}
.content06 {
gap: var(--dl-space-space-halfunit);
width: 100%;
display: flex;
padding: var(--dl-space-space-oneandhalfunits);
align-items: flex-start;
flex-direction: column;
}
.caption03 {
font-style: normal;
font-weight: 600;
}
.title1 {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.card05 {
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: column;
background-color: #ffffff;
}
.image10 {
width: 100%;
display: flex;
overflow: hidden;
align-items: center;
padding-left: var(--dl-space-space-oneandhalfunits);
padding-right: var(--dl-space-space-oneandhalfunits);
flex-direction: column;
justify-content: center;
background-color: #8FA7DF;
}
.image11 {
object-fit: cover;
}
.content07 {
gap: var(--dl-space-space-halfunit);
width: 100%;
display: flex;
padding: var(--dl-space-space-oneandhalfunits);
align-items: flex-start;
flex-direction: column;
}
.caption04 {
font-style: normal;
font-weight: 600;
}
.title2 {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.card06 {
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: column;
background-color: #ffffff;
}
.image12 {
width: 100%;
display: flex;
overflow: hidden;
align-items: center;
padding-left: var(--dl-space-space-oneandhalfunits);
padding-right: var(--dl-space-space-oneandhalfunits);
flex-direction: column;
justify-content: center;
background-color: #9DDADB;
}
.image13 {
object-fit: cover;
}
.content08 {
gap: var(--dl-space-space-halfunit);
width: 100%;
display: flex;
padding: var(--dl-space-space-oneandhalfunits);
align-items: flex-start;
flex-direction: column;
}
.caption05 {
font-style: normal;
font-weight: 600;
}
.title3 {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.card07 {
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: column;
background-color: #ffffff;
}
.image14 {
width: 100%;
display: flex;
overflow: hidden;
align-items: center;
padding-left: var(--dl-space-space-oneandhalfunits);
padding-right: var(--dl-space-space-oneandhalfunits);
flex-direction: column;
justify-content: center;
background-color: #9FD8E5;
}
.image15 {
object-fit: cover;
}
.content09 {
gap: var(--dl-space-space-halfunit);
width: 100%;
display: flex;
padding: var(--dl-space-space-oneandhalfunits);
align-items: flex-start;
flex-direction: column;
}
.caption06 {
font-style: normal;
font-weight: 600;
}
.title4 {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.card08 {
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: column;
background-color: #ffffff;
}
.image16 {
width: 100%;
display: flex;
overflow: hidden;
align-items: center;
padding-left: var(--dl-space-space-oneandhalfunits);
padding-right: var(--dl-space-space-oneandhalfunits);
flex-direction: column;
justify-content: center;
background-color: #EC7495;
}
.image17 {
object-fit: cover;
}
.content10 {
gap: var(--dl-space-space-halfunit);
width: 100%;
display: flex;
padding: var(--dl-space-space-oneandhalfunits);
align-items: flex-start;
flex-direction: column;
}
.caption07 {
font-style: normal;
font-weight: 600;
}
.title5 {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.card09 {
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: column;
background-color: #ffffff;
}
.image18 {
width: 100%;
display: flex;
overflow: hidden;
align-items: center;
padding-left: var(--dl-space-space-oneandhalfunits);
padding-right: var(--dl-space-space-oneandhalfunits);
flex-direction: column;
justify-content: center;
background-color: #FFCF77;
}
.image19 {
object-fit: cover;
}
.content11 {
gap: var(--dl-space-space-halfunit);
width: 100%;
display: flex;
padding: var(--dl-space-space-oneandhalfunits);
align-items: flex-start;
flex-direction: column;
}
.caption08 {
font-style: normal;
font-weight: 600;
}
.title6 {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.card10 {
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: column;
background-color: #ffffff;
}
.image20 {
width: 100%;
display: flex;
overflow: hidden;
align-items: center;
padding-left: var(--dl-space-space-oneandhalfunits);
padding-right: var(--dl-space-space-oneandhalfunits);
flex-direction: column;
justify-content: center;
background-color: #FDEA6B;
}
.image21 {
object-fit: cover;
}
.content12 {
gap: var(--dl-space-space-halfunit);
width: 100%;
display: flex;
padding: var(--dl-space-space-oneandhalfunits);
align-items: flex-start;
flex-direction: column;
}
.caption09 {
font-style: normal;
font-weight: 600;
}
.title7 {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.view3 {
width: 100%;
text-align: center;
}
.get-yours {
gap: var(--dl-space-space-threeunits);
width: 100%;
height: 555px;
display: flex;
max-width: 1440px;
padding-left: var(--dl-space-space-fiveunits);
padding-right: var(--dl-space-space-fiveunits);
flex-direction: row;
}
.row2 {
gap: var(--dl-space-space-threeunits);
height: 100%;
display: flex;
flex-direction: row;
}
.column {
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
}
.card11 {
display: flex;
padding: var(--dl-space-space-oneandhalfunits);
align-items: center;
flex-direction: column;
background-color: #FFCF77;
}
.image22 {
width: 240px;
object-fit: cover;
}
.column1 {
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: flex-end;
}
.card12 {
display: flex;
padding: var(--dl-space-space-oneandhalfunits);
align-items: center;
flex-direction: column;
background-color: #000000;
}
.image23 {
width: 240px;
object-fit: cover;
}
.column2 {
flex: 1;
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
.card13 {
gap: var(--dl-space-space-twounits);
width: 539px;
display: flex;
padding: var(--dl-space-space-fourunits);
align-items: flex-start;
flex-direction: column;
background-color: #8FA7DF;
}
.content13 {
gap: var(--dl-space-space-unit);
width: 100%;
display: flex;
max-width: 460px;
align-items: flex-start;
flex-direction: column;
}
.header6 {
color: rgb(0, 0, 0);
font-size: 52px;
font-style: normal;
font-weight: 500;
}
.description5 {
color: rgb(0, 0, 0);
width: 100%;
font-size: 18px;
max-width: 500px;
line-height: 27px;
}
.button5 {
margin-top: var(--dl-space-space-oneandhalfunits);
}
.footer {
gap: var(--dl-space-space-threeunits);
width: 100%;
display: flex;
position: relative;
max-width: 1440px;
align-items: flex-start;
padding-top: 120px;
padding-left: var(--dl-space-space-fiveunits);
padding-right: var(--dl-space-space-fiveunits);
flex-direction: column;
padding-bottom: var(--dl-space-space-threeunits);
}
.main4 {
width: 100%;
display: flex;
align-items: flex-start;
flex-direction: row;
justify-content: space-between;
}
.branding {
gap: var(--dl-space-space-threeunits);
display: flex;
max-width: 600px;
align-items: flex-start;
flex-direction: column;
}
.heading2 {
gap: var(--dl-space-space-threeunits);
display: flex;
align-items: flex-start;
flex-direction: column;
}
.logo2 {
color: rgb(255, 255, 255);
font-size: 32px;
font-style: normal;
font-weight: 600;
}
.caption10 {
color: rgb(255, 255, 255);
font-size: 18px;
line-height: 27px;
}
.socials1 {
gap: var(--dl-space-space-unit);
display: flex;
align-items: center;
flex-direction: row;
justify-content: center;
}
.twitter1 {
text-decoration: none;
}
.image24 {
width: 100px;
object-fit: cover;
}
.discord1 {
text-decoration: none;
}
.image25 {
width: 100px;
object-fit: cover;
}
.links1 {
gap: 120px;
display: flex;
align-items: flex-start;
flex-direction: row;
}
.list {
gap: var(--dl-space-space-threeunits);
display: flex;
align-items: flex-start;
flex-direction: column;
}
.heading3 {
color: rgb(255, 255, 255);
font-size: 24px;
font-style: normal;
font-weight: 600;
}
.items {
gap: var(--dl-space-space-oneandhalfunits);
display: flex;
align-items: flex-start;
flex-direction: column;
}
.link {
color: rgb(255, 255, 255);
}
.link1 {
color: rgb(255, 255, 255);
}
.link2 {
color: rgb(255, 255, 255);
}
.link3 {
color: rgb(255, 255, 255);
}
.list1 {
gap: var(--dl-space-space-threeunits);
display: flex;
align-items: flex-start;
flex-direction: column;
}
.heading4 {
color: rgb(255, 255, 255);
font-size: 24px;
font-style: normal;
font-weight: 600;
}
.items1 {
gap: var(--dl-space-space-oneandhalfunits);
display: flex;
align-items: flex-start;
flex-direction: column;
}
.link4 {
color: rgb(255, 255, 255);
}
.link5 {
color: rgb(255, 255, 255);
}
.link6 {
color: rgb(255, 255, 255);
}
.link7 {
color: rgb(255, 255, 255);
}
.link8 {
color: rgb(255, 255, 255);
}
.socials2 {
gap: var(--dl-space-space-unit);
display: none;
align-items: center;
flex-direction: row;
justify-content: center;
}
.twitter2 {
text-decoration: none;
}
.image26 {
width: 100px;
object-fit: cover;
}
.discord2 {
text-decoration: none;
}
.image27 {
width: 100px;
object-fit: cover;
}
.copyright {
color: rgb(255, 255, 255);
font-size: 12px;
}
@media(max-width: 991px) {
.desktop-menu {
  display: none;
}
.btn-group {
  display: none;
}
.burger-menu {
  display: flex;
}
.button4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-direction: row;
}
.logo1 {
  color: #000000;
}
.row {
  flex-direction: column;
}
.card {
  width: 100%;
}
.card01 {
  width: 100%;
}
.row1 {
  flex-direction: column;
}
.main3 {
  grid-template-columns: repeat(2, 1fr);
}
.get-yours {
  height: auto;
  align-items: center;
  flex-direction: column;
}
.row2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 555px;
  align-items: center;
  justify-content: center;
}
.column {
  flex: 1;
  align-items: flex-start;
}
.card11 {
  width: 100%;
  aspect-ratio: 0.85;
  justify-content: center;
}
.column1 {
  flex: 1;
  align-items: flex-end;
}
.card12 {
  width: 100%;
  aspect-ratio: 0.85;
}
.column2 {
  width: 100%;
}
}
@media(max-width: 767px) {
.navbar {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.hero {
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.heading {
  gap: var(--dl-space-space-unit);
}
.header {
  font-size: 36px;
  max-width: 70%;
  line-height: 43px;
}
.caption {
  font-size: 16px;
  line-height: 24px;
}
.description {
  gap: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.description1 {
  gap: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.content {
  gap: var(--dl-space-space-unit);
}
.paragraph {
  font-size: 20px;
  line-height: 30px;
}
.cards {
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-fourunits);
}
.card {
  gap: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.main {
  gap: var(--dl-space-space-oneandhalfunits);
}
.header1 {
  font-size: 24px;
}
.description2 {
  font-size: 14px;
  line-height: 21px;
}
.card01 {
  gap: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.main1 {
  gap: var(--dl-space-space-oneandhalfunits);
}
.header2 {
  font-size: 24px;
}
.description3 {
  font-size: 14px;
  line-height: 21px;
}
.card02 {
  gap: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.row1 {
  gap: var(--dl-space-space-twounits);
}
.main2 {
  gap: var(--dl-space-space-oneandhalfunits);
}
.header3 {
  font-size: 24px;
}
.description4 {
  font-size: 14px;
  line-height: 21px;
}
.collection {
  gap: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.content04 {
  gap: var(--dl-space-space-oneandhalfunits);
}
.heading1 {
  gap: var(--dl-space-space-unit);
}
.header4 {
  font-size: 32px;
  letter-spacing: 0;
}
.header5 {
  font-size: 14px;
  line-height: 21px;
}
.image06 {
  padding-left: 0px;
  padding-right: 0px;
}
.image08 {
  padding-left: 0px;
  padding-right: 0px;
}
.image10 {
  padding-left: 0px;
  padding-right: 0px;
}
.image12 {
  padding-left: 0px;
  padding-right: 0px;
}
.image14 {
  padding-left: 0px;
  padding-right: 0px;
}
.image16 {
  padding-left: 0px;
  padding-right: 0px;
}
.image18 {
  padding-left: 0px;
  padding-right: 0px;
}
.image20 {
  padding-left: 0px;
  padding-right: 0px;
}
.view3 {
  display: none;
}
.get-yours {
  gap: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.row2 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 555px;
}
.card11 {
  padding: var(--dl-space-space-unit);
}
.image22 {
  width: 100%;
}
.card12 {
  padding: var(--dl-space-space-unit);
}
.image23 {
  width: 100%;
}
.card13 {
  gap: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-threeunits);
}
.content13 {
  align-items: center;
}
.header6 {
  font-size: 32px;
  text-align: center;
}
.description5 {
  font-size: 14px;
  text-align: center;
  line-height: 21px;
}
.button5 {
  margin-top: 0px;
}
.footer {
  gap: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.main4 {
  gap: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.heading2 {
  gap: var(--dl-space-space-unit);
}
.logo2 {
  font-size: 20px;
  line-height: 24px;
}
.caption10 {
  width: 80%;
  font-size: 12px;
  line-height: 18px;
}
.socials1 {
  display: none;
}
.links1 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  justify-content: flex-start;
}
.list {
  gap: var(--dl-space-space-oneandhalfunits);
}
.list1 {
  gap: var(--dl-space-space-oneandhalfunits);
}
.socials2 {
  display: flex;
}
}
@media(max-width: 479px) {
.navbar {
  padding: var(--dl-space-space-unit);
}
.mobile-menu {
  padding: 16px;
}
.main3 {
  grid-template-columns: repeat(1, 1fr);
}
.row2 {
  height: 350px;
}
}